<div>
    <div class="questionCard">
        <div class="nextArrow" ng-show="!quizComplete">
            <span class="ion-android-arrow-dropright-circle" ng-click="qCtrl.nextQuestion($event)"></span>
        </div>

        <div class="header">
            Question {{questionNumber}}: {{currentQuestion.question_str}}
        </div>

        <div ng-repeat="answer in currentQuestion.answers" class="answers">
            <div class="answer" id="answer-{{$index}}"ng-click="qCtrl.selectQuestion($event, $index)">
                {{answer}}
            </div>
        </div>
    </div>

        <md-button ng-click="qCtrl.submitAnswers($event)" ng-show="quizComplete" class="md-raised">Submit</md-button>
</div>
