<div class="login-wrapper" layout="column" layout-align="center center">
    <div class="loginCard" layout="column" layout-align="center center">

        <img class="logo" src="/assets/images/spraoi-logo.png" />

        <input type="text" placeholder="Username" ng-model="username">
        <button class="button-primary" ng-click="main.startQuiz($event)">Login</button>
        <!--<md-input-container>-->
        <!--<label>Description</label>-->
        <!--<textarea ng-model="user.description"></textarea>-->
        <!--</md-input-container>-->
    </div>

</div>
