/**
*  Do not remove this comments bellow. It's the markers used by wiredep to inject
*  sass dependencies when defined in the bower.json of your dependencies
*/
// bower:scss
// endbower

html {
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #ddd;
    min-height: 100vh;
}
[layout=row] {
    flex-direction: row;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.progress{
    width: 36%;
    margin:0 auto;
    margin-top: 30px;
}

.thumbnail {
    height: 200px;

    img.pull-right {
        width: 50px;
    }
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: none;
    box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #14af97;
    outline: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 25px;
    color: #555;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #a4b0af;
    border-color: #a4b0af;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #14af97;
    border-color: #14af97;
}


md-toolbar.md-default-theme {
    background-color: #14af97;
    color: white;
    border-bottom: 4px solid white;
    font-size: 24px;
    line-height: 24px;
}
md-toolbar.md-default-theme h3 {
    letter-spacing: 0.1em;
    margin-left: 30px;
}
md-progress-linear .md-container {
    background-color: #e8ecea;
    border-radius: 4px;
}
md-progress-linear .md-bar{
    background-color: #82cb69;
    border-radius: 4px;
}

.md-dialog-container {
    background-color: rgba(0, 0, 0, 0.5);
}

section.jumbotron {
    margin-bottom: 30px;
    padding: 1px 30px;
    background-color: #5aadbb;
    text-align: center;

    color: white;

    h1 {
        font-size: 3em;
    }
}

.techs {
    display: flex;
    flex-flow: row wrap;

    md-card {
        width: 30%;

        img.pull-right {
            float: right;
            width: 50px;
        }
    }
}
div.questionCard{
    position: relative;
    border-radius: 4px;
    background: #fff;
    min-width: 400px;
    width: 40%;
    min-height: 200px;
    margin: auto;
    margin-top: 150px;
    padding-bottom: 2px;
    div.close{
        position: absolute;
        right:-20px;
        top:-20px;
        width:35px;
        height:35px;
        border-radius:50%;
        background: #edeeed;
        border: 6px solid #ddd;
        text-align: center;
        line-height: 35px;
        color: #999;
        font-size: 22px;
        cursor:pointer;
    }
    div.nextArrow{
        position: absolute;
        right:-70px;
        top:50%;
        margin-top: -3px;
        cursor:pointer;
        span{
            color:#87c764;
            font-size: 48px;
        }
        span:hover{
            color: #63c32e;
        }
    }
    div.close:hover{
        background: #bbd2d9;
    }
    div.header{
        font-weight: bold;
        line-height: 50px;
        padding-left: 10px;
        font-size:22px;
        height:50px;
        color: #fff;
        background: #31809a;
        border-radius: 4px;
        border-bottom: 4px solid #ddd;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    div.answersWrapper{
        padding: 12px;
    }
    div.answers{
        position: relative;
        div.answer{
            cursor: pointer;
            margin: 10px;
            padding: 14px 10px;
            border-radius: 5px;
            background: #e7e9e8;
            text-align: center;
        }
        div.answer:hover{
            background: #bbd2d9;
        }
        div.answer.correct{
            background: #87c764;
            color: #fff;
        }
        div.answer.incorrect{
            background: #e92723;
            color: #fff;
        }
    }
}

div.loginCard{
    position: relative;
    width: 400px;
    min-height: 200px;
    margin: auto;
    margin-top: 150px;
    .logo{
        width:340px;
        margin-bottom: 40px;
    }
    input{
        width:90%;
        margin-bottom: 20px;
    }
    button{
        width: 30%;
    }
}

div.submitCard{
    min-width: 400px;
    width: 40%;
    margin: auto;
    .score{
        color: #30859e;
        margin-top: 18px;
    }
    .button {
        margin-top: 24px;
        margin-bottom: 2px;
        font-size: 24px;
        height: 48px;
        line-height: 48px;
    }
}


md-content{
    background: #ddd;
}
/**
*  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
*  all your sass files automatically
*/
// injector
// endinjector
