<div>


    <div class="qust">

    </div>
    <div class="questionCard">

        <div class="nextArrow">
           <span class="ion-android-arrow-dropright-circle"></span>
        </div>
        <div class="header">
            Question.
        </div>
        <div class="answers">
            <div class="answer">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                    Checkbox 1: {{ data.cb1 }}
                </md-checkbox>
            </div>
            <div class="answer">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                    Checkbox 1: {{ data.cb1 }}
                </md-checkbox>
            </div>
            <div class="answer correct">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                    Checkbox 1: {{ data.cb1 }}
                </md-checkbox>
            </div>
            <div class="answer">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                    Checkbox 1: {{ data.cb1 }}
                </md-checkbox>
            </div>
        </div>
    </div>

    <md-button class="md-raised" ng-click="qCtrl.showQuitDialog($event)">Finish</md-button>

</div>
